* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(images/bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 78vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;

}
.menu .navbar ul li a{
font-size: 38px;
padding: 20px;
color: #fffdfc;
display: block; 
font-weight: 600;

}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    display: none;
    cursor: pointer;
}