* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.app .header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../images/background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 38px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;

}

.menu .navbar ul li a:hover {
    color: #ee9f77;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fffdfc;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.header-content p {
    font-size: 20px;
    color: #fffdfc;
    padding: 0 25px;
    margin-bottom: 25px;

}

.txt-p {
    font-size: 20px;
    margin: 30px;

}

.title-2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    text-transform: uppercase;
    font-style: bold;

}

.title-3 {
    text-align: center;
    font-size: 35px;

}

.cake {
    background-color: #d3c1b8;
}

.cake-group {
    display: flex;
    justify-content: center;
}

.cake-1 img {
    align-content: center;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.services{
    background-image: linear-gradient(rgba(209, 198, 198, 0.7), rgba(177, 155, 155, 0.7)), url(../images/fondo-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.services-group {
    display: flex;
    justify-content: center;
}

.services-1 img {
    height: 60%;
    object-fit: initial;
    padding: 10px;
}

.productos {
    background-color: #af5757;
}

.blog-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.blog-1 img {
    height: 65%;
    padding: 10px 10px;
}

.footer {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../images/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fffdfc;
}

.footer-content {
    display: flex;
    justify-content: center;

}

.footer-content h3 {
    font-size: 30px;
}

.footer-content ul li {
    font-size: 18px;
}

.footer-content ul li a {
    text-decoration: none;
    list-style: none;
    color: #fffdfc;
}


.medios-pago {
    margin: 15px;
}

.contacto {
    margin: 15px;
}

.icon {
    width: 30px;
    padding-right: 10px;
}